<:Title>
  classes index

<:Body>
  <div class="classes">
    <h4> Classes </h4>
    <div class="one-class">
      <ul id="nav">
       {{page._classes.each do |clas| }}
         <li>
           <a href="#">{{ clas._name }}</a>
           <ul>
             <li><a href="#">Echeneis</a></li>
             <li><a href="#">Phtheirichthys</a></li>
             <li><a href="#">Remora</a></li>
             <li><a href="#">Remorina</a></li>

             <li><a href="#">Rhombochirus</a></li>
           </ul>
         </li>
       {{end}}
     </ul>
   </div>
  </div>
