<html>
  <head>
    <title>Salama Debugger</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/assets/react-with-addons.js"></script>
    <%= javascript_include_tag 'main' %>
  </head>
  <body>
    <div id="content"></div>
  </body>
</html>
