<:Title>
  registers index

<:Body>
  <div class="registers-view">
    {{ model.each do |reg| }}
      <div class="register-view">
        <div>
          <div class="field">
            {{ reg.name }}
          </div>
          <div class="value">
            <span class="value-head">
              {{ reg.value }}
            </span>
          </div>
        </div>
        {{ reg.fields.each_with_index do |attribute, index| }}
          <div>
            <div class="field tooltip">
              {{index}}{{marker(attribute)}}
              <span>
                {{variables(attribute).join("\n")}}
              </span>
            </div>
            <div class="value tooltip">
              {{attribute.object_id}}
              <span>
                {{content(attribute.object_id).join("\n")}}
              </span>
            </div>
          </div>
        {{end}}
      </div>
    {{end}}
  </div>
