<:Title>
  registers index

<:Body>
  <div class="registers-view">
    {{ model.each do |reg| }}
      <div class="register-view">
        <ul id="nav">
            <a href="#">{{reg.name}} : {{reg.value}}</a>
          {{ reg.fields.each_with_index do |attribute, index| }}
            <li class="field">
              <a href="#">
                {{index}}{{marker(attribute)}}
                 {{attribute.object_id}}
              </a>
              <ul>
                {{content(attribute.object_id).each do |con| }}
                  <li>
                    <a href="#">{{con[0]}}</a>
                  </li>
                {{end}}
              </ul>
            </li>
          {{end}}
        </ul>
      </div>
    {{end}}
  </div>
