// Place your apps css here
@import "susy";

$susy: (
  columns: 24 ,
  gutter-position: split ,
);

.debugger-view { @include container(90%); }

.classes { @include span(3); }

.file-view {
  @include span(4);
  margin: span(1);
}

.source-view { @include span(6); }

.block-view {
  @include span(4);
  margin-right: span(2);
  height: 200px;
}

.status-view {
  @include span(2 at 22);
}

.registers-view {
  @include span(20 at 3);
}

.register-view {
  @include gallery(3);
  margin-top: 10px;
}

.bright {
  background-color: orange ;
}
