// Place your apps css here
@import "susy";

.tooltip {outline:none; }
.tooltip strong {line-height:30px;}
.tooltip:hover {text-decoration:none;}
.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:150px; line-height:16px;
}
.tooltip:hover span {
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;
}
.callout {
  z-index:20;
  position:absolute;
  top:30px;
  border:0;
  left:-12px;
}

/*CSS3 extras*/
.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

$susy: (
  columns: 24 ,
  gutter-position: split ,
);

.debugger-view { @include container(90%); }

.classes {
  @include span(3);
}

.one-class {
  margin: 10px;
}
.file-view {
  @include span(4);
  margin: span(1);
}

.source-view { @include span(6); }

.block-view {
  @include span(4);
  margin-right: span(2);
  height: 200px;
}

.status-view {
  @include span(2 at 22);
}

.registers-view {
  @include span(20 at 3);
}

.register-view {
  @include gallery(4);
  margin-top: 10px;
}

.field {
  @include span(5)
}

.value {
  @include span(18)
}

.value-head {
  background-color: #C5FFD9;
}

.bright {
  background-color: orange ;
}
