body {
	font-family: arial, helvetica, serif;
}

}

/* ----[ OLs ULs, LIs, and DIVs ]----*/
	float : left;

/* All submenu OLs and ULs */
#nav ol, #nav ul {
	/*border around submenu goes here*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background:#fff;
	border:1px solid #C3D46A;
	left:0;
}

/* All ULs and OLs */
#nav, #nav ul, #nav ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

}

}

}

}



