<:Title>
  Home

<:Body>
  <div class="classes">
    <h4> Classes </h4>
    {{page._classes!.each do |clas| }}
    <div class="one-class">
      {{ clas._name }}
     </div>
     {{end}}
   </div>

    <div class="file-view">
      "Future Source code view"
    </div>

    <div class="source-view">
      <h4> Virtual Machine Instruction </h4>
      page.sources.each do |s|
        <br> s </br>
      end
    </div>

    <div class="block-view">
      <div>
        <h4> method_name </h4>
        <h4> Block: #{block_name} </h4>
      </div>
      block.each do |code|
        InstructionView  :interpreter => interpreter , :instruction => code
      end
    </div>

    <div class="status-view">
      <div>
        button.bright { "next" }.on(:click) { interpreter.tick }
        " ".br
      </div>
      <div>
        <h4> Status </h4>
        <br> state.to_s </br>
      </div>
      <div>
        <h4> Stdout </h4>
      </div>
      <div>
        <br> interpreter.stdout </br>
      </div>
    </div>

    <div class="registers-view">
      registers.each do |r , oid|
        RegisterView interpreter: interpreter , register: r
      end
    </div>
