<:Title>
  Home

<:Body>
  <div class="classes">
    <h4> Classes </h4>
     {{page._classes.each do |clas| }}
      <div class="one-class">
        {{ clas._name }}
      </div>
     {{end}}
  </div>

  <div class="file-view">
  </div>

  <div class="source-view">
    <h4> Virtual Machine Instruction </h4>
     {{page._sources.each do |source| }}
       <div class="{{source._class_name}}">
         {{source._name}}
       </div>
     {{end}}
  </div>

  <div class="block-view">
    <div>
      <h4> {{page._method_name}} </h4>
      <h4> Block: {{page._block_name}} </h4>
    </div>
    {{ page._blocks.each do |b| }}
      <div class="{{b._class_name}}">
        {{b._name}}
      </div>
    {{ end }}
  </div>

  <:status/>

  <:registers/>
