<:Title>
  Debugger

<:Body>
  <div class="row">
    {{ page._classes.each do |c| }}
      <div class="col-md-1">
        {{ c._name }} <br/>
      </div>
    {{ end }}
  </div>
  <div class="row">
    <div class="col-md-3">
      Messages
    </div>
    <div class="col-md-3">
      Source Code
    </div>
    <div class="col-md-3">
      <div class="row">
        Virtual Machine Instruction : {{ page._source._name}}
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
      Current block: {{ page._block._name}}
    </div>
      <div class="row">
        {{ if page._block.block }}
          {{ page._block.block.codes.each do |c| }}
            {{ c.to_s }}
          {{ end }}
      {{ end }}
      </div>
    </div>
  </div>
  <div class="row">
    {{ page._registers.each do |r| }}
      <div class="col-md-1">
        {{ r._name }} : {{ r._content }}
      </div>
    {{ end }}
  </div>
