// Place your apps css here
@import "susy";


$susy: (
  columns: 24 ,
  gutter-position: split ,
);

.debugger_view { @include container(90%); }

.classes {
  @include span(3);
}

.one_class {
  margin: 10px;
}

.source_view {
  @include span(7);
  margin-left: span(1);
}

.instruction_view { @include span(6); }

.labels_view {
  @include span(3);
  margin-right: span(1);
  height: 200px;
}

.status_view {
  @include span(4 at 20);
  line-height : 1.25em;
}

.registers_view {
  @include span(20 at 3);
}

.register_view {
  @include gallery(4);
  margin-top: 10px;
}

.field {
  @include span(5)
}

.value {
  @include span(18)
}

.value_head {
  background-color: #C5FFD9;
}

.statement {
  margin-left: 10px;
}
.act{
  background-color: #00B3FF;
  -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
  font-size: 100%;
}
.crawl{
  background-color: #009900;
  -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
.run{
  background-color: #00CC33;
  -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
.wizz{
  background-color: #00FF66;
  -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.bright {
  padding-right: 6px;
  padding-left: 6px;
  background-color: #00E3FF ;
  -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

.fade_in {
  transition: background-color 100ms linear;
  padding-right: 6px;
  padding-left: 6px;
  background-color: #00E3FF ;
  -moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
