// Place your apps css here
@import "susy"


$susy: ( columns: 5 , gutter-position: split )

.one_class
  margin: 10px


.classes
  @include span(12%)


.source_view
  @include span(23%)


.instruction_view
  @include span(23%)


.status_view
  @include span(23%)
  line-height : 1.25em


.labels_view
  @include span(1)
  margin-right: span(1)
  height: 200px


.registers_view
  @include span(80%)
  .register_view
    @include gallery(1)
    margin-top: 10px



.field
  @include span(5)


.value
  @include span(18)


.value_head
  background-color: #C5FFD9


.statement
  margin-left: 10px


.ticker
  text-align: right


.act
  background-color: #00B3FF
  -moz-border-radius: 7px
  -webkit-border-radius: 7px
  font-size: 100%

.crawl
  background-color: #009900
  -moz-border-radius: 7px
  -webkit-border-radius: 7px

.run
  background-color: #00CC33
  -moz-border-radius: 7px
  -webkit-border-radius: 7px

.wizz
  background-color: #00FF66
  -moz-border-radius: 7px
  -webkit-border-radius: 7px


.bright
  padding-right: 6px
  padding-left: 6px
  background-color: #00E3FF
  -moz-border-radius: 7px
  -webkit-border-radius: 7px


.fade_in
  transition: background-color 100ms linear
  padding-right: 6px
  padding-left: 6px
  background-color: #00E3FF
  -moz-border-radius: 7px
  -webkit-border-radius: 7px
